<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<div th:fragment="attributes(attr)">
    <h2>Attributes</h2>
    <table class="table attributes">
        <tr class="table-header">
            <th>STR</th><th>CON</th><th>AGI</th><th>PER</th><th>REF</th>
            <th>INT</th><th>CHA</th><th>WEI</th><th>HEI</th>
        </tr>
        <tr>
            <td th:text="${attr.strength}">STR</td>
            <td th:text="${attr.constitution}">CON</td>
            <td th:text="${attr.agility}">AGI</td>
            <td th:text="${attr.perception}">PER</td>
            <td th:text="${attr.reflex}">REF</td>
            <td th:text="${attr.intelligence}">INT</td>
            <td th:text="${attr.charisma}">CHA</td>
            <td th:text="${attr.weight}">WEI</td>
            <td th:text="${attr.height}">HEI</td>
        </tr>
    </table>
</div>

</body>
</html>