<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<table>
    <tr th:fragment="skillrow(actorid, skill)">
        <th th:text="#{${'skill_' + skill.getId().toString().toLowerCase()}}">Skill Name</th>
        <td th:text="${skill.getLevel()}">0</td>
        <td th:text="${skill.getRating()}">0</td>
        <td th:with="did='dialog_' + ${#strings.randomAlphanumeric(10)}">
            <button class="btn btn-primary"
                    data-an-toggle="remoteModal"
                    data-bs-target="#roll"
                    th:href="'/actor/' + ${actorid} + '/roll/' + ${skill.getId()} + '/'"
                    th:id="${did}"
                    type="button">Roll!
            </button>
        </td>
    </tr>
</table>

<div th:fragment="skill(actor)">
    <table class="table w-25">
        <thead>
        <tr class="table-header">
            <th scope="col">Skill</th>
            <th scope="col">Level</th>
            <th scope="col">Rating</th>
            <td></td>
        </tr>
        </thead>

        <tbody>
        <tr>
            <th class="text-center" colspan="4" th:text="#{skills.sections.action}">Action</th>
        </tr>
        <tr th:each="skill : ${actor.skills.getActionSkills()}"
            th:insert="~{ :: skillrow(${actor.id}, ${skill})}">
        </tr>

        <tr>
            <th class="text-center" colspan="4" th:text="#{skills.sections.mental}">Mental</th>
        </tr>
        <tr th:each="skill : ${actor.skills.getMentalSkills()}"
            th:insert="~{ :: skillrow(${actor.id}, ${skill})}">
        </tr>

        <tr>
            <th class="text-center" colspan="4" th:text="#{skills.sections.physical}">Physical</th>
        </tr>
        <tr th:each="skill : ${actor.skills.getPhysicalSkills()}"
            th:insert="~{ :: skillrow(${actor.id}, ${skill})}">
        </tr>

        <tr>
            <th class="text-center" colspan="4" th:text="#{skills.sections.social}">Social</th>
        </tr>
        <tr th:each="skill : ${actor.skills.getSocialSkills()}"
            th:insert="~{ :: skillrow(${actor.id}, ${skill})}">
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
