<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<table>
<tr th:fragment="skillrow(actorid, skill)">
    <th th:text="#{${'skill_' + skill.getId().toString().toLowerCase()}}">Skill Name</th>
    <td th:text="${skill.getLevel()}">0</td>
    <td th:text="${skill.getRating()}">0</td>
    <td th:with="did='dialog_' + ${#strings.randomAlphanumeric(10)}">
        <button class="btn btn-primary"
                type="button"
                data-an-toggle="remoteModal"
                th:id="${did}"
                th:href="'/actor/' + ${actorid} + '/roll/' + ${skill.getId()} + '/'"
                data-bs-target="#roll">Roll!</button>
    </td>
</tr>
</table>

<div th:fragment="skill(actor)">
    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="roll">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content"></div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="rollresults">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content"></div>
        </div>
    </div>

    <script>
        document.getElementById('roll').addEventListener('hide.bs.modal', event => {
            event.target.querySelector("div[class='modal-content']")
                .innerHTML = '';
        });

        document.getElementById('rollresults').addEventListener('hide.bs.modal', event => {
            event.target.querySelector("div[class='modal-content']")
                .innerHTML = '';
        });
    </script>

    <table class="table">
        <thead>
        <tr class="table-header">
            <th scope="col">Skill</th>
            <th scope="col">Level</th>
            <th scope="col">Rating</th>
            <td></td>
        </tr>
        </thead>

        <tbody>
        <tr><th colspan="4" class="text-center" th:text="#{skills.sections.action}">Action</th></tr>
        <tr th:each="skill : ${actor.skills.getActionSkills()}"
            th:insert="~{ :: skillrow(${actor.id}, ${skill})}">
        </tr>

        <tr><th colspan="4" class="text-center" th:text="#{skills.sections.mental}">Mental</th></tr>
        <tr th:each="skill : ${actor.skills.getMentalSkills()}"
            th:insert="~{ :: skillrow(${actor.id}, ${skill})}">
        </tr>

        <tr><th colspan="4" class="text-center" th:text="#{skills.sections.physical}">Physical</th></tr>
        <tr th:each="skill : ${actor.skills.getPhysicalSkills()}"
            th:insert="~{ :: skillrow(${actor.id}, ${skill})}">
        </tr>

        <tr><th colspan="4" class="text-center" th:text="#{skills.sections.social}">Social</th></tr>
        <tr th:each="skill : ${actor.skills.getSocialSkills()}"
            th:insert="~{ :: skillrow(${actor.id}, ${skill})}">
        </tr>
        </tbody>
    </table>
</div>

<!--

        <tr><th colspan="4" class="text-center" th:text="#{skills.sections.physical}">Physical</th></tr>
        <tr th:replace="~{ :: skillrow(${actor.id}, 'Acrobatics', ${levels.acrobatics}, ${skill.acrobatics})}"></tr>
        <tr th:replace="~{ :: skillrow(${actor.id}, 'Athletics', ${levels.athletics}, ${skill.athletics})}"></tr>
        <tr th:replace="~{ :: skillrow(${actor.id}, 'Brutal Fighting', ${levels.brutalFighting}, ${skill.brutalFighting})}"></tr>
        <tr th:replace="~{ :: skillrow(${actor.id}, 'Finesse Fighting', ${levels.finesseFighting}, ${skill.finesseFighting})}"></tr>
        <tr th:replace="~{ :: skillrow(${actor.id}, 'Muscular', ${levels.muscular}, ${skill.muscular})}"></tr>

        <tr><th colspan="5" class="text-center">Action</th></tr>
        <tr th:replace="~{ :: skillrow(${actor.id}, 'Drive', ${levels.drive}, ${skill.drive})}"></tr>
        <tr th:replace="~{ :: skillrow(${actor.id}, 'Long Arms', ${levels.longArms}, ${skill.longArms})}"></tr>
        <tr th:replace="~{ :: skillrow(${actor.id}, 'Sleight of Hands', ${levels.sleightOfHands}, ${skill.sleightOfHands})}"></tr>
        <tr th:replace="~{ :: skillrow(${actor.id}, 'Small Arms', ${levels.smallArms}, ${skill.smallArms})}"></tr>
        <tr th:replace="~{ :: skillrow(${actor.id}, 'Stealth', ${levels.stealth}, ${skill.stealth})}"></tr>

        <tr><th colspan="5" class="text-center">Social</th></tr>
        <tr th:replace="~{ :: skillrow(${actor.id}, 'Charm', ${levels.charm}, ${skill.charm})}"></tr>
        <tr th:replace="~{ :: skillrow(${actor.id}, 'Deception', ${levels.deception}, ${skill.deception})}"></tr>
        <tr th:replace="~{ :: skillrow(${actor.id}, 'Insight', ${levels.insight}, ${skill.insight})}"></tr>
        <tr th:replace="~{ :: skillrow(${actor.id}, 'Intimidate', ${levels.intimidate}, ${skill.intimidate})}"></tr>
        <tr th:replace="~{ :: skillrow(${actor.id}, 'Persuade', ${levels.persuade}, ${skill.persuade})}"></tr>

        <tr><th colspan="5" class="text-center">Mental</th></tr>
        <tr th:replace="~{ :: skillrow(${actor.id}, 'Investigate', ${levels.investigate}, ${skill.investigate})}"></tr>
        <tr th:replace="~{ :: skillrow(${actor.id}, 'Knowledge', ${levels.knowledge}, ${skill.knowledge})}"></tr>
        <tr th:replace="~{ :: skillrow(${actor.id}, 'Medicine', ${levels.medicine}, ${skill.medicine})}"></tr>
        <tr th:replace="~{ :: skillrow(${actor.id}, 'Survival', ${levels.survival}, ${skill.survival})}"></tr>
        <tr th:replace="~{ :: skillrow(${actor.id}, 'Technical', ${levels.technical}, ${skill.technical})}"></tr>

-->

</body>
</html>
