<!DOCTYPE html>
<html lang="en">
<head th:replace="layout/default :: head(~{ ::title})">
    <meta charset="UTF-8">
    <title>Actors !</title>
</head>
<body>

<!--/* The element with breadcrumb class will be passed to the header fragment */-->
<header th:insert="layout/default :: header(~{ ::.breadcrumb})">
    <ol class="breadcrumb container">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/actor/">Actors</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="/actor/0" th:text="${actor.displayName}"
                                                                  th:href="'/actor/' + ${actor.id}">Actor Name</a></li>
    </ol>
</header>

<div th:insert="layout/default :: content(~{ :: .actor })">
    <div class="actor">
        <h1 th:text="${actor.displayName}">Actor name</h1>

        <div class="cost">
            <span>Total cost of character:</span>
            <span th:text="${actor.totalCost}">0</span>
        </div>

        <div th:replace="fragments/attributes :: attributes(${actor.attributes})"></div>

        <div class="identity">
            <h2>Identity</h2>

            <div class="ethnicity">
                <span>Ethnicity: </span>
                <span>ETHNICITY</span>
            </div>

            <div class="language">
                <span>Languages: </span>
                <ol>
                    <li>Common</li>
                </ol>
            </div>

            <div class="power" th:id="${actor.sourceOfPower.id}">
                <span>Source of power: </span>
                <a href="/source/" th:href="'/source/' + ${actor.sourceOfPower.id}"
                   th:text="${actor.sourceOfPower.displayName}">Source name</a>
            </div>
        </div>

        <div class="attributes">
            <h2>Attributes</h2>

            <div class="gender">
                <span>Gender: </span>
                <span>G</span>
            </div>
            <div class="sexori">
                <span>Sexual Orientation: </span>
                <span> G</span>
            </div>
            <div class="age">
                <span>Age: </span>
                <span th:text="${actor.modifierAge.displayName}">NA</span>
            </div>
            <div class="size">
                <span>Size: </span>
                <span th:text="${actor.modifierSize.displayName}">SIZE</span>
            </div>
            <div class="handiness">
                <span>Handiness:</span>
                <span th:text="${actor.handiness.displayName}">No Hands</span>
            </div>
        </div>

        <div class="masteries">
            <h2>Masteries</h2>
            <div class="mastery" th:each="e : ${actor.powers}">
                <h3 th:text="${e.mastery.name}" th:id="'mastery_' + ${e.mastery.id}">Mastery</h3>
                <span class="max_mastery_level" th:text="${e.level}">0</span>
                <div th:each="p : ${e.powers}"><a href="/source/" th:href="'/source/' + ${p.id}" th:text="${p.name}">
                    Power</a></div>
            </div>
        </div>

        <div th:replace="fragments/skills :: skill(${actor.skillsLevel}, ${actor.skills})"></div>

        <div class="log">
            <h2>Quest Log</h2>
            <table class="table">
                <tr class="table-header">
                    <th>Description</th>
                    <th>XP</th>
                </tr>
                <tr th:each="log : ${actor.logs}">
                    <td th:text="${log.display}">Something</td>
                    <td th:text="${log.xp}">0</td>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>