<div class="modal fade" tabindex="-1" th:with="did='roll_' + ${#strings.randomAlphanumeric(10)}"
     role="dialog" aria-hidden="true" id="roll">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">
                    Choose difficulty for <span th:text="#{${'skill_' + skill.getId().toString().toLowerCase()}}" class="skill"></span> check
                </h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" >
                <div class="text-center">
                    <table class="table table-borderless" th:id="${did}">
                        <thead>
                        <tr class="table-header">
                            <th scope="col" class="bg-danger" >For Every 10 Worst</th>
                            <th scope="col" class="bg-danger" >2+ under rating</th>
                            <th scope="col" class="bg-danger" >1 under rating</th>
                            <th scope="col" class="bg-info"   >Equal Rating</th>
                            <th scope="col" class="bg-success">1 over rating</th>
                            <th scope="col" class="bg-success">2+ over rating</th>
                            <th scope="col" class="bg-success">For Every 10 Better</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>+1 Catastrophic Effect</td>
                            <td>
                                <button class="btn btn-outline-danger"      th:text="${skill.getRating() + 4}" data-an-toggle="remoteModal">Worst Rating (5)</button>
                                <button class="btn btn-outline-danger"      th:text="${skill.getRating() + 3}" data-an-toggle="remoteModal">Worst Rating (4)</button>
                            </td>
                            <td>
                                <button class="btn btn-outline-danger"      th:text="${skill.getRating() + 2}" data-an-toggle="remoteModal">Worst Rating (3)</button>
                                <button class="btn btn-outline-danger"      th:text="${skill.getRating() + 1}" data-an-toggle="remoteModal">Worst Rating (2)</button>
                            </td>
                            <td><button class="btn btn-info"                th:text="${skill.getRating()}"     data-an-toggle="remoteModal">Equal Rating (0)</button></td>
                            <td>
                                <button class="btn btn-outline-success"     th:text="${skill.getRating() - 1}" data-an-toggle="remoteModal">Better Rating (2)</button>
                                <button class="btn btn-outline-success"     th:text="${skill.getRating() - 2}" data-an-toggle="remoteModal">Better Rating (5)</button>
                            </td>
                            <td>
                                <button class="btn btn-outline-success"     th:text="${skill.getRating() - 3}" data-an-toggle="remoteModal">Better Rating (4)</button>
                                <button class="btn btn-outline-success"     th:text="${skill.getRating() - 4}" data-an-toggle="remoteModal">Better Rating (3)</button>
                            </td>
                            <td>+1 Exceptional Effect</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="2" class="bg-danger">Keep Lowest Results</td>
                            <td class="bg-info">Keep Result</td>
                            <td colspan="2" class="bg-success">Keep Highest Results</td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>

                    <script type="application/javascript">

                    </script>

                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

